**/.git
**/.github
**/node_modules/
**/dist/
**/build/
**/venv/
**/env/
**/.venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/.pytest_cache/
**/.coverage
**/.env
.git
node_modules/
dist/
build/
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
.env
